<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="col-xs-9 navbar-brand">
            <div class="black">
                Choose Widget
            </div>
        </div>

    </div>
</nav>

<div class="container">
    <div class="pull-left">
        <a ng-click="model.newHeader()">Header</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a ng-click="model.newHTML()">HTML</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a ng-click="model.newImage()">Image</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a ng-click="model.newYouTube()">YouTube</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>