<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="col-xs-8 col-sm-9 navbar-brand">
            <div class="black">
                Widgets
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="white">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div ng-repeat="widget in model.widgets">

            <div class="col-xs-10 col-sm-11">
                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADER">
                        <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="HTML">
                        <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
                    </div>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>